<div class="navbar-project">
  <div class="navbar-project-menu">
    <div class="form-group">
      <label class="control-label" for="boostrapSelect">Projects</label>
      <!-- TODO add multiple attribute back to the select tag when we support selecting multiple -->
      <select class="selectpicker form-control" data-selected-text-format="count>3" id="boostrapSelect">
        <option ng-selected="selected == proj.metadata.name" ng-repeat="proj in projects" value="{{proj.metadata.name}}">{{proj.displayName || proj.metadata.name}}</option>
        <!-- TODO add back in when we support create project 
        <option data-divider="true"></option>
        <option>Create new</option>
        -->
      </select>
    </div>
  </div>
  <div class="navbar-search">
    <div class="container-fluid">
      <div class="label-filter">
        <div class="row">
          <div class="col-md-6 col-lg-7">
            <div class="form-group">
              <label class="control-label" for="boostrapSelect" style="visibility: hidden;">Filter by labels</label>
              <div class="label-filter">
                <select class="label-filter-key" placeholder="Filter by labels"></select>
                <select class="label-filter-operator" style="display: none;"></select>
                <select class="label-filter-values" multiple style="display: none;"></select>
                <button class="label-filter-add btn btn-lg disabled" disabled><i class="fa fa-tag fa-lg"></i><i class="fa fa-plus"></i></button>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-5">
            <div style="margin-top: 35px;">
              <span class="label-filter-active" style="display: none;">
                <a href="javascript:;" class="label-filtering-remove-all label label-info"><i class="fa fa-filter" style="padding-right: 5px;"></i>Clear all filters <i class="fa fa-times"></i></a>
              </span>
              <span class="label-filter-active-filters"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>