<div ng-controller="ProjectController">
  <project-nav projects="projects" selected="projectName"></project-nav>
  <div class="wrap">
    <sidebar ng-init="heading='Browse'"></sidebar>

    <div class="container-fluid container-main">
      <div class="row">
        <div class="col-sm-8 col-md-10">
          <div style="margin-bottom: 10px;" ng-repeat="deployment in deployments">
            <h3>{{deployment.annotations.deploymentConfig}} <span class="small">({{deployment.id}})</span></h3>
            <div>Created: <relative-timestamp timestamp="deployment.creationTimestamp"></relative-timestamp></div>
            <div>Status: {{deployment.annotations.deploymentStatus}}</div>
            <div>Version: {{deployment.annotations.deploymentVersion}}</div>
            <div>Replicas: {{deployment.desiredState.replicas}}</div>
            <pod-template ng-init="podTemplate = deployment.desiredState.podTemplate"></pod-template>
          </div>      
        </div>
      </div>
    </div>
  </div
</div>
